@font-face {
    font-family: 'text';
    src: url('fonts/Retroica.ttf');
}
@font-face {
    font-family: 'normal';
    src: url('fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'medium';
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'title';
    src: url('fonts/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf');
}
@font-face {
    font-family: 'soft';
    src: url('fonts/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf');
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #232323;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-image: linear-gradient(to bottom,#140B0D,#191112);
    font-family: 'text';
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
     rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
     rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
     position: sticky;
     top: 0;
    z-index: 100;
}
nav ul{
    display: flex;
    flex-direction: row;
    color: #FBF8F3;
    column-gap: 5em;
    list-style: none;   
}
nav ul li p{
    transition: 200ms;
    text-decoration: none;
    font-family: 'soft';
}
.menu ul li a::after{
    content: "";
    position: absolute;
    background-color: #0F476F;
    height: 3px;
    width: 0%;
    bottom: -5px; 
    transition: 300ms;
}
.menu ul li a:hover::after{
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    position: relative;
}
nav ul li p:hover{
    transition: 200ms;
    color: #aabcd0;
}
nav h3{
    font-size: 40px;
    color: #2382A5;
    font-family: "soft";
}
nav h3:hover{
    color:#006482 ;
    transition: .5s;
}
#home{
    margin-top: 4em;
    font-family: 'normal';
    padding: 2em 2em;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10em;
}

@media(max-width:591px){
    #home{
        margin-left: -8em;
    }
}

@media (max-width:736px) {
    #home div header h1{
        font-size: 36px;
    }
    #home div header h2{
        font-size: 25px;
    }
}
@media(max-width:1004px){
    #home{
        flex-wrap: wrap-reverse;
        justify-content: center;
        
    }
    #home > div{
        margin-bottom: 4em;
    }
}
@media(max-width:1109px){
    #home div header h2{
        font-size:27px ;
    }
}
section > div{
    flex-direction: column;
    margin-right: 30%;
    width: 30%;
}

section > div > header{
    width: 100%;
    flex-direction: column;
    row-gap: 1em;
}
/*text animation*/

.ml6 {
    position: relative;
    font-size: 30px;
    font-family: 'title';
    white-space: nowrap;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letters {
    display: inline-block;
    line-height: 1em;
    font-size: 50px;
    background: linear-gradient(90deg,#008198,#006482);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
  }

section > div header h2{
    color: #fff;
    font-size: 30px;
    margin-top: 1em;
    white-space: nowrap;
}
section a{
    text-decoration: none;
}

section a button img{
    width: 45px;
    padding-right: 20px;
    text-decoration: none;
}

section div{
    display: flex;
}
section button{
    margin-top: 3em;
    width: 14em;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
}
section .github-button:hover{
    box-shadow: #A930C1 0px 5px 15px;
    outline: none;
}
section .linkedin-button:hover{
    box-shadow: #30A5C1 0px 5px 15px;
}
.github-button{
    border-width: 3px;
    border-radius: 5px;
    border: 0;
    line-height: 1em;
    padding: 3px;
    background-image: linear-gradient(144deg, #A930C1,#66188A 50%,#490F6F);
    touch-action: manipulation;
    font-weight:bold ;
    transition: all .3s;
    box-sizing: border-box;

}
.github-button span{
    background: #232323;
    padding: 16px 26px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.github-button:hover span{
    background: none;
}

.linkedin-button{
    height: 3.9em;
    margin-left: 2em;
    border-radius: 5px;
    font-weight:bold ;
    transition: all .3s;
    box-sizing: border-box;
    touch-action: manipulation;
    border: 0;
    line-height: 1em;
    padding: 3px;
    background-image:linear-gradient(144deg,#30A5C1,#18638A 50%,#0F476F);
}
.linkedin-button span{
    background: #232323;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    align-items: center;
    justify-content: center;
    display: flex;
}
.linkedin-button:hover span{
    background: none;
}

.linkedin-button img{
    width: 40px;
    margin-left: 5px;
}


section > h3{
    margin: 13em auto 0px ;
    color: #fff;
    width:6em;
    font-weight: bolder;
}

.Sobre{
    display: flex;
    margin-bottom: 10em;
    column-gap: 10em;
    font-family: 'normal';
}
.Sobre .icons {
    flex-direction: column;

}
.Sobre .icons h1{
    color: #30A5C1;
    font-size: 25px;
    border-bottom: 4px solid #1E1919;
    width: 5em;
    margin-bottom: 1em;
}

@media(max-width:760px){
    .Sobre aside div p{
        font-size: 17px;
    }
    .Sobre aside{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 5em;
        width: 100%;

    }

    
    .Sobre .icons{
        align-items: center;
        margin:0 auto;
    }

}

@media(max-width:890px){
    .Sobre{
        flex-direction: column;
        align-items: center;
    }
    .Sobre aside{
        margin-bottom: 7em;
    }
}

@media(max-width:1109px){
    .Sobre .icons div  {
        display: grid;
        flex-direction: column;
        grid-template-columns:repeat(3, 1fr);
    }
    .Sobre aside{
        margin-left: 3em;
        width: 50%;
    }
    .Sobre aside div{
        width: 40%;
    }
}

.Sobre aside{
    margin-left: 6em;
    margin-right: 10em;
}

.Sobre aside > div{
   flex-direction: column;
   width: 150%;
}

.Sobre aside div h1{
 color: #30A5C1;
 font-size: 30px;
 border-bottom: 4px solid #1E1919;
 width: 5em;
}
.Sobre aside div h3,p{
    color: #fff;
}
.Sobre aside button{
   width: 12em;
   height: 4em;
   border: 3px solid #A930C1;
   border-radius: 5px;
   transition: 200ms;
   font-size: 14px;
   font-weight: bold;
}
.Sobre aside button:hover{
    box-shadow: #A930C1 0px 5px 15px;
}

.Sobre aside button img{
    width: 40px;
    margin-right: 7px;
    margin-left: 6px;
}
.Sobre aside .icons img{
    width: 60px;
}
section:nth-child(4){
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'normal';
}
section:nth-child(4) > h1{
    font-size: 33px;
    font-weight: bolder;
    margin-bottom: 1em;
    color: #30A5C1;
    text-decoration: underline #1E1919;
}
.projetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: 200ms;
}

.projetos > div{
    box-sizing: border-box;
    flex-direction: column;
    width: 45%;
    align-items: center;
    margin:0 auto;
}
.projetos > div img{
    width:30em ;
}
.card-link,.card-link1,.card-link2,.card-link3{
    backdrop-filter: blur(5px);
    width: 30.1em;
    height: 14.4em;
    position: absolute;
    display:flex;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.06);
    flex-direction: column;
    row-gap: 20px;
    transition: 200ms;
    justify-content: center;
   font-family: 'medium';
}
.project div > div > h4{
    color: #000000;
}

.hoverEvent:hover .card-link{
   opacity: 1;
}
.hoverEvent1:hover .card-link1{
   opacity: 1;
}
.hoverEvent2:hover .card-link2{
   opacity: 1;
}
.hoverEvent3:hover .card-link3{
   opacity: 1;
}
.projetos > div h3{
    font-size: 23px;
}
.projetos div p{
    color: #008198;
}
.projetos div h3{
    color: #fff;
}
.projetos div button{
    border: 3px solid #2382A5;
    border-radius: 5px;
    transition: 200ms;
    width: 12em;
    height: 3.3em;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 7em;
}
.projetos div button:hover{
    box-shadow: #30A5C1 0px 5px 15px;
    background-color: #2382A5;
}
.projetos div a{
    text-decoration: none;
}
.projetos div img{
    border-bottom: 6px solid #008198;
}
.menu .menu-burguer{
    display: none;
    transition: all 200ms;
}

.menu .menu-burguer > div{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    margin: 6px;
    transition: all 200ms;
}
@media(max-width:600px){
    .ml6 .letters {
        font-size: 40px;
    }
}

@media(max-width:525px){
    .ml6 .letters {
        font-size: 36px;
    }
    #home > div > header > h2{
        font-size: 20px;
    }
    #home > img{
        width: 20em;
    }
    .ml6 .letters {
        font-size: 32px;
    }
    #home button{
        width: 12em;
    }
    .projetos > div img{
        width:16em ;
    }
    .card-link,.card-link1,.card-link2,.card-link3{
        width: 25em;
        height: 12em;
    }
    .project > div > div > p,h4{
        font-size: 14px;
    }
    .linkedin-button img {
        width: 25px;
    }
    .github-button img{
        width: 30px;
    }
    .projetos div img{
        width: 400px;
    }
}

@media(max-width:760px){

    #projetos{
        margin-top: 17em;
    }
}
@media(max-width:1040px){
    .projetos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .projetos div{
        margin-bottom: 6em;
    }
}
@media screen and (max-width:700px) {
    #home{
        margin-left: -7em;
    }

    .menu .other-menu{
        position: fixed;
        left: -100%;
        top: 40px;
        height: 30%;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        background-image: linear-gradient(to bottom,#191112,#140B0D);
        width: 100%;
    }
  
    .active{
        transition: all 200ms;
        left: 0;
        position: fixed;
        top: 80px;
        height: 40%;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        background-image: linear-gradient(to bottom,#191112,#140B0D);
        width: 100%;
    }
    .active li{
        margin: 7px 0;
    }
    .menu .menu-burguer{
        display: block;
        cursor: pointer;
        opacity: 1;
    }

    .burguer-active div:nth-child(1){
        transition: 200ms;
        opacity: 0%;
    }
    .burguer-active div:nth-child(3){
        transition: 200ms;
        transform: translateY(-8px) rotate(-45deg);
    }
    .burguer-active div:nth-child(2){
        transition: 200ms;
        position: absolute;
        top: 20.7px;
        transform: translateY(8px) rotate(46deg);
    }

}

/*scroll reveal*/
.Sobre, .project{
    visibility: hidden;
}